.web-page {
  display: flex;

}

.image-div {
  height: auto;
  position: relative;
}

a {
  text-decoration: none;
  color: white;
}

.image-desc{
  position: absolute;
  top: 94%;
  left: 92%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: white;
}

.image {
  height: auto;
}

.sign-up-div {
  height: auto;
  flex-grow: 2;
}