:root {
  --main-bg-color: rgb(245, 245, 245);
  --sec-bg-color: (255, 255, 255);
  --btn-bg-color: rgb(15, 92, 73);
}

p {
  font-family:'Courier New', Courier, sans-serif;
}

.web-page {
  display: flex;
}

body{
  margin: 0;
}
/*Left hand side/image alterations */

.image-div {
  height: auto;
  position: relative;
}

a {
  text-decoration: none;
  color: white;
}

.image-desc{
  position: absolute;
  top: 94%;
  left: 92%;
  transform: translate(-50%, -50%);
  font-size: 1em;
  color: white;
}

.image {
  height: 100vh;
}

/*Right hand side/sign-up alterations*/

.sign-up-div {
  height: auto;
  display: flex;
  flex-flow: column wrap;
  flex-grow: 2;
}

.sign-up-top, .sign-up-middle, .sign-up-bottom{
  padding-left: 2.4em;
}

.sign-up-top {
  flex-grow: 1;
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.sign-up-middle {
  height: 20%;
  flex-grow: 1;
  background-color: var(--sec-bg-color);
}

.sign-up-bottom {
  flex-grow: 2;
  background-color: var(--main-bg-color);
}

.welcome, .welcome2 {
  font-size: 1.6em;
  font-weight: 600;
}

.welcome2 {
  padding-bottom: 2em;
}

.sign-up {
  margin-top: 2em;
  color: white;
  background-color: var(--btn-bg-color);

  font-size: 18px;

  border: none;
  padding: 14px 24px;
  border-radius: 6px;
}

.log-in {
  font-size: 1.4em;
}

.log-in-link {
  color: var(--btn-bg-color);
}