.web-page {
  display: flex;

}
/*Left hand side/image alterations */

.image-div {
  height: auto;
  position: relative;
}

a {
  text-decoration: none;
  color: white;
}

.image-desc{
  position: absolute;
  top: 94%;
  left: 92%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: white;
}

.image {
  height: auto;
}

/*Right hand side/sign-up alterations*/

.sign-up-div {
  height: auto;
  display: flex;
  flex-flow: column wrap;
  flex-grow: 2;
}

.sign-up-top {
  flex-grow: 3;
  background-color: rgb(245, 245, 245);
}

.sign-up-middle {
  height: 20%;
  flex-grow: 1;
  background-color: rgb(255, 255, 255);
}

.sign-up-bottom {
  flex-grow: 2;
  background-color: rgb(245, 245, 245);
}